*{
    border: solid 1px red;
}

.layout {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

#divControles, #divResultado{
        color:#000000;
        background-color:#C6E2FF;
        padding:5px 12px;
        border-radius:10px;
        border:1px solid rgb(51, 4, 4);
        /* estilo de posicionamento e largura*/
        min-width: 15%; 
        max-width: 25%;
        /* position: absolute; */
        /* bottom: 10px;
        right: 10px; */
        /* left: auto; */
}
